
header {
    padding-bottom: 1em;
    margin: 0;
}



.jumbotron h1 {
    opacity: 0.6;
    background-color: #e9ecef;
}

@media screen and (max-width: 768px) {
    .jumbotron {
        display: none;
    }
}

#tab_one {
    color: white;
    background-color: grey;
    border-radius: 1em;
    display: inline-block;
    line-height: 1.6em;
    width: 1.6em;
    height: 1.6em;
    text-align: center;
}

#tab_two {
    color: white;
    background-color: grey;
    border-radius: 1em;
    display: inline-block;
    line-height: 1.6em;
    width: 1.6em;
    height: 1.6em;
    text-align: center;
}

#tab_three {
    color: white;
    background-color: grey;
    border-radius: 1em;
    display: inline-block;
    line-height: 1.6em;
    width: 1.6em;
    height: 1.6em;
    text-align: center;
}

#cheesy_dropdown_menu {
    background-color: #FFFFFF;
    color: black;
}

.btn {
    float: right;
}

