/* Small devices (tablets, 768px and up) */
@media screen and (max-width:768px) {
    body {
        font-family: "Ariel", Helvetica, sans-serif;
    }
    div.alert-info{
        text-align: center;
        background-color: #cbfdfd;
        border: 1px solid black;
        padding: 2em;
        margin: 10px;

    }
    a {
        text-decoration: none;
        color: black;
    }

    h1{
        text-align: center;
    }
    ul{
        list-style: none;
        margin-right: 40px;

    }
    li{
        background-color: lightgrey;
        text-align: center;
        padding: 1em;
        margin: 10px;
    }
    .nav-links a {
        text-decoration: underline;
        color: blue;
    }
    img {
        display: block;
        height: 224px;
        width: 339px;
        padding: 1em;
        margin: auto;
    }

}


/* Medium devices (desktops, 992px and up) */
@media screen and (min-width:992px) {
    div.alert-info {
        display: none;
    }

    ul {
        list-style: none;
        position: fixed;
        bottom: 95%;
        left: 70%;
        display: flex;
        margin: 0;

    }
    li {
        display: inline-block;
       padding: 10px;
    }
    img {
        display: block;
        position: center;
        height: 385px;
        width: 890px;
        margin: auto;
    }


    .main {
        width: 50%;
        display: inline-block;

        float: left;
    }
    .sub-section {
        width: 35%;
        display: inline-block;

        float: right;
    }

    footer {
        clear: left;
    }




}

/* Large devices (large desktops, 1200px and up) */
/*
@media screen and (min-width:1200px) {
    body {
        text-align: center;

    }
}
*/



