body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

.message {
    border-radius: 3px;
    margin: .4em auto;
    padding: .75em;
    border: 1px solid lightgrey;
    width: 80%;
}

.message-info {
    color: #00529B;
    background-color: #BDE5F8;

}

.message-success {
    color: #4F8A10;
    background-color: #dff2bf;

}

.message-warning {
    color: #9F6000;
    background-color: #FEEFB3;

}

.message-error {
    color: #D8000C;
    background-color: #FFD2D2;

}